﻿@page "/people"
@using BlazoDemo.Shared
@inject HttpClient Http

<h3>People</h3>
@if (people == null)
{
    if (isLoading == true)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <button class="btn btn-info" @onclick="@LoadPeople">Load People</button>
    }

}
else
{
    <div class="row">
        @foreach (var person in people)
        {
            <div class="col-lg-6 col-md-12 mb-2">
                <form>
                    <div class="card border-primary" rounded-0>
                        <div class="card-header p-0">
                            <div class="bg-info text-white text-center py-2">
                                <h3>
                                    <i class="fas fa-envelope"></i> Contact info
                                </h3>
                                <p class=" m-0">
                                    The contact information for @person.FirstName
                                </p>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user text-info"></i>
                                        </div>
                                        <input type="text" placeholder="First Name" @bind="@person.FirstName" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user text-info"></i>
                                        </div>
                                        <input type="text" placeholder="Last Name" @bind="@person.LastName" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-dollar-sign text-info"></i>
                                        </div>
                                        <input type="text" readonly @bind="@person.AccountBalance" />
                                        <div class="input-group-append">
                                           <div class="input-group-text">
                                               @if (person.AccountBalance > 100)
                                               {
                                                   <i class="fas fa-smile" style="color: green;"></i>
                                               }
                                               else if (person.AccountBalance > 0 )
                                               {
                                                   <i class="fas fa-frown" style="color: orange";></i>
                                               }
                                               else 
                                               {
                                                    <i class="fas fa-dizzy" style="color: red;"></i>
                                               }
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-info rounded py-2 px-4 ml-2"
                                        @onclick ="@(() => BuyNow(person))">
                                    Buy Now
                                </button>
                                <button type="button" class="btn btn-danger rounded-0 py-2 px-4"
                                        @onclick ="@(() => SaveUser(person))">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
}

@code {
    List<PersonModel> people;
    bool isLoading = false;

    private void BuyNow(PersonModel person)
    {
        person.AccountBalance -= 5.15M;
    }

    private async Task SaveUser(PersonModel person)
    {
        await Http.PostJsonAsync("person", person);
    }

    private async Task LoadPeople()
    {
        isLoading = true;

        //simulate a delate to see
        await Task.Delay(2000);
        people = await Http.GetJsonAsync<List<PersonModel>>(@"person\all");
        isLoading = false;
    }

}
